<div id="tutoriais">
  <h1> Busca Rápida </h1>
  <p>
    Para buscar um conteúdo no portal da Biblioteca Digital, basta digitar a palavra no campo de busca no topo da página e
    clicar no botão "BUSCAR".
  </p>

  <img src="<%= url_imagem("busca_rapida.jpg")%>" alt="buscando no acervo" />
</div>