<div id="tutoriais">
  <h1> Busca Avançada </h1>

  <p>
    A busca avançada pode ser acessada através do menu de navegação existente na lateral esquerda da página do
    portal da Biblioteca Digital. Essa permite que o usuário realize uma consulta no Acervo por conteúdos que sejam
    de seu interesse, com algumas opções de filtros que podem ser adicionados à busca para refinamento do resultado
    suportando, inclusive, combinações de filtros para uma busca mais específica.
  </p>
  <p> A sua interface é composta dos seguintes filtros de busca: </p>
  <p>
    Área: Este filtro é utilizado quando se deseja buscar no acervo os conteúdos pertencentes a uma dada área de conhecimento. Por exemplo, se for selecionado o item "Engenharias", irão aparecer nos resultados apenas os conteúdos que pertencerem a esta área de conhecimento.
  </p>
  <p>
    Sub Área: Este filtro é utilizado, em conjunto com o filtro de Área, quando se deseja buscar no acervo os
    conteúdos pertencentes a uma dada sub área pertencente a uma determinada área de conhecimento. Por exemplo, se
    for selecionado o item "Engenharias" como área e o item "Engenharia Civil" como sub área de conhecimento, irão
    aparecer nos resultados apenas os conteúdos que pertencerem a sub área "Engenharia Civil", que por sua vez
    pertence a área de conhecimento "Engenharia". Este campo pode ser omitido, selecionando a opção "Todas",
    fazendo com que a busca leve em conta apenas a Área, no caso "Engenharias".
  </p>
  <p>
    Tipos de conteúdo: Estes filtros são utilizados quando se deseja buscar no acervo os conteúdos do tipo
    selecionado. As opções deste tipo de filtro são mostradas na figura abaixo:
  </p>

  <img src="<%= url_imagem("tipos_conteudo.png")%>" alt="tipos de conteudo" />

  <p> Artigo: Retorna como resultado da busca todos os artigos do acervo. </p>
  <p>
    Trabalho de Conclusão de Curso: Retorna como resultado da busca todos os trabalhos de conclusão de curso do
    acervo.
  </p>
  <p> Imagens: Retorna como resultado da busca todas as imagens do acervo. </p>
  <p> Objeto de Aprendizagem: Retorna como resultado da busca todos os objetos de aprendizagem do acervo. </p>
  <p> Arquivo: Retorna como resultado da busca todos os arquivo do acervo, incluindo conteúdo multimídia. </p>
  <p>
    Caso nenhum dos filtros por tipo de conteúdo seja selecionado, a busca será realizada considerando todos os
    tipos de conteúdo do acervo, da mesma forma que acontece quando eles são selecionados.
  </p>
  <p>
    Título: Este filtro é utilizado quando se deseja buscar no acervo os conteúdos nos quais o título seja igual ao
    texto informado.
  </p>
  <p>
    Autor: Este filtro é utilizado quando se deseja buscar no acervo os conteúdos criados pelo autor informado.
  </p>
  <p>
    Texto Completo: Este filtro é utilizado quando se deseja buscar no acervo os conteúdos que contenham, em
    qualquer parte, o texto informado.
  </p>
  <p>
    Além das opções de busca mostradas acima, existe ainda a possibilidade de realizar a busca através de duas caixas de acesso rápido, que estão localizadas na lateral esquerda da página do acervo.
  </p>
  <p>
    Na primeira caixa, a busca é feita apenas clicando na letra desejada do alfabeto. Esta busca tem como resultado
    todos os conteúdos que tenham o título iniciado com a letra selecionada.
  </p>
  <p>
    Na segunda caixa, é possível fazer a busca por uma área de conhecimento desejada, tendo como resultado todos os
    conteúdos que estejam relecionados àquela área. Existe no lado esquerdo de cada área o símbolo "+"; clicando
    sobre ele, serão exibidas as opções de sub área de conhecimento daquela área, podendo ser realizada uma busca
    pela sub área desejada, resultando todos os conteúdos relacionados.
  </p>
</div>