<div id="tutoriais">
  <h1> Inserindo referências bibliográficas </h1>

  <p>
    Para inserir uma referência para um item do acervo digital, basta que o usuário clique no ícone "GRÃO", que se
    encontra na barra de ferramentas do editor de texto da Biblioteca Digital.
  </p>

  <img src="<%= url_imagem("botao_grao.png")%>" alt="botão grão" />

  <p>
    Clicando neste ícone, uma janela aparecerá. Nela o usuário poderá navegar pelo acervo da biblioteca digital e
    escolher o grão que deseja fazer a referência.
  </p>

  <img src="<%= url_imagem("grao_oceanografia.png")%>" alt="grão de oceanografia" />

  <p>
    A janela está dividida em 3 colunas. Na 1ª, aparece um item que representa a coleção de grãos. Na 2ª coluna, é
    mostrado os grãos que podem ser utilizados como referência. E a 3ª coluna mostra o grão selecionado, podendo
    escolher a posição do grão (right, se quiser o texto a direita; left, se quiser o texto a esquerda; inline, se
    quiser o texto na linha onde o cursor se encontra), o tamanho do grão e o texto equivalente a referência. Após
    definir todas as configurações, clique em "OK", e a referência aparecerá no final do texto, como mostra a figura
    a seguir:
  </p>

  <img src="<%= url_imagem("bibliografia.png")%>" alt="bibliografia" />

  <p>
    em que é mostrado o usuário que criou a referência, a data da criação, o texto da referência e o endereço da
    imagem.
  </p>
</div>