Tabela originada da página X do conteúdo
%p
.aba
  %b
    Conteudo:
  %br
    = @grao.conteudo.titulo
  %br
    .grao_arquivo
      Atenção: as tabelas poderão ser apresentadas de forma parcial devido à limitações de layout.
      = tabela_grao(@grao)
  %p