.video_container
	%video{:controls=>"controls", :width=>"480", :class=>"OMP", :theme=>"sunshine"}
		%source{:src=>'http://upload.wikimedia.org/wikipedia/commons/2/25/Sintel_extract_new.ogv',
		:type=>'video/ogg', :codecs=>"theora, vorbis"}