- if can? :submeter, conteudo and conteudo.editavel?
  = button_to 'Submeter', submeter_conteudo_path(conteudo), method: :put
- if can? :aprovar, conteudo and conteudo.pendente?
  = button_to 'Aprovar', aprovar_conteudo_path(conteudo), method: :put
- if can? :recolher, conteudo
  = button_to 'Recolher', recolher_conteudo_path(conteudo), method: :put
- if can? :devolver, conteudo
  = button_to 'Devolver', devolver_conteudo_path(conteudo), method: :put
