- if can? :submeter, conteudo
  = link_to 'Submeter', send("#{conteudo.class.name.underscore}_submeter_path", conteudo)
- if can? :aprovar, conteudo and current_usuario.gestor?
  = link_to 'Aprovar', send("#{conteudo.class.name.underscore}_aprovar_path", conteudo)
