= render 'conteudos/show_dados_basicos', conteudo: @conteudo

%p
%b
  Local da Publicação:
  %br
= @conteudo.local_publicacao.blank? ? "Não informado" : @conteudo.local_publicacao

%p
%b
  Ano:
  %br
= @conteudo.ano_publicacao.blank? ? "Não informado" : @conteudo.ano_publicacao

%p
%b
  Número de páginas:
  %br
= @conteudo.numero_paginas.blank? ? "Não informado" : @conteudo.numero_paginas
