.video_container
	%video{:controls=>"controls", :width=>"480", :class=>"OMP", :theme=>"sunshine"}
		%source{:src=>'http://200.143.198.46:9888/file/38471672-1fc3-4d9d-850e-e5502efdbe6b',
		:type=>'video/ogg', :codecs=>"theora, vorbis"}