%nav{ id: 'menu_abas'}
  %ul
    %li{ class: 'sel_aba', data: { padrao: '' }}
      %a{:href=>"#metadados"} Metadados
    %li{ class: 'sel_aba'}
      %a{:href=>"#imagens"} Imagens
    %li{ class: 'sel_aba'}
      %a{:href=>"#tabelas"} Tabelas

#metadados.aba
  = render "metadados_#{@conteudo.nome_como_simbolo}"

#imagens.aba

#tabelas.aba
