<div id="tutoriais">
  <h1> Efetuando o cadastro na biblioteca digital </h1>

  <p>O cadastramento na biblioteca digital é realizado com os seguintes passos: </p>

  <ol>
    <li> Na página inicial, o usuário deverá clicar no link "Novo usuário". Será exibido um formulário como o da figura abaixo:
      <img src=<%= url_imagem("formulario_registro.png") %> alt="formulario de registro" />
    </li>
    <li> Preencha o formulário de registro. </li>
    <li> Clique no botão "registrar". </li>
    <li> Será apresentada a confirmação do cadastramento. </li>
    <li> Clique no botão "acessar". </li>
    <li> Para acessar a biblioteca digital clique no link "Ir para a página inicial de Biblioteca Digital". </li>
    <li> Para acessar o conteúdo clique em "Acessar o conteúdo". </li>
  </ol>
</div>