<div id="tutoriais">
  <h1> Logando na Biblioteca Digital </h1>
  <p> Concluído o cadastramento, siga os seguintes passos: </p>

  <ol>
    <li> Na página inicial é apresentado a opção de logon do usuário, como demonstrado na figura abaixo:
         <img src=<%= url_imagem("tela_acessar.png") %> alt="Login usuário" />
    </li>
    <li> Insira no campo abaixo do "Nome do usuário", o usuário criado anteriormente no formulário de
      cadastramento. </li>
    <li> Insira no campo abaixo do "Nome do usuário", o usuário criado anteriormente no
    formulário de cadastramento. </li>
    <li> Insira no campo abaixo de "Senha", a senha pessoal definida anteriormente na tela de "Definir senha". </li>
    <li> Clique no botão "acessar". </li>
  </ol>
</div>
