<div id="tutoriais">
  <h4> Usando o portal </h4>
  <span class="dica"> aviso: Esta é a visão de impressão com todas as páginas do tutorial em uma página.
    <%= link_to "A versão paginada está disponível aqui", url_tutorial("usando-o-portal")%>,
    se você preferir esta.
  </span>
  <h4> Introdução </h4>
  <span class="dica"> O usuário aprenderá a navegar no portal da Biblioteca Digital </span>

  <p> O Portal da Biblioteca Digital tem como objetivo permitir armazenar e resgatar diversos
      tipos de documentos.
  </p>

  <h4> Efetuando o cadastro na biblioteca digital </h4>
  <span class="dica"> Criando uma conta para acesso à biblioteca digital. </span>

  <p>O cadastramento na biblioteca digital é realizado com os seguintes passos: </p>

  <ol>
    <li> Na página inicial, o usuário deverá clicar no link "Novo usuário". Será exibido um formulário como o da figura abaixo:
      <img src=<%= url_imagem("formulario_registro.png") %> alt="formulario de registro" />
    </li>
    <li> Preencha o formulário de registro. </li>
    <li> Clique no botão "registrar". </li>
    <li> Será apresentada a confirmação do cadastramento. </li>
    <li> Clique no botão "acessar". </li>
    <li> Para acessar a biblioteca digital clique no link "Ir para a página inicial de Biblioteca Digital". </li>
    <li> Para acessar o conteúdo clique em "Acessar o conteúdo". </li>
  </ol>

  <h4> Logando na Biblioteca Digital </h4>
  <span class="dica"> Acessando o acervo de conteúdo. </span>

  <p> Concluído o cadastramento, siga os seguintes passos: </p>

  <ol>
    <li> Na página inicial é apresentado a opção de logon do usuário, como demonstrado na figura abaixo:
         <img src=<%= url_imagem("tela_acessar.png") %> alt="Login usuário" />
    </li>
    <li> Insira no campo abaixo do "Nome do usuário", o usuário criado anteriormente no formulário de
      cadastramento. </li>
    <li> Insira no campo abaixo do "Nome do usuário", o usuário criado anteriormente no
    formulário de cadastramento. </li>
    <li> Insira no campo abaixo de "Senha", a senha pessoal definida anteriormente na tela de "Definir senha". </li>
    <li> Clique no botão "acessar". </li>
  </ol>

  <h4> Configurando Preferências Pessoais </h4>
  <span class="dica"> Definindo Preferências Pessoais no Portal </span>

  <p> 1.3 - Como Configurar Preferência Pessoal </p>
  <ol>
    <li> Acesse a Biblioteca Digital através de um usuário e uma senha </li>
    <li> Clique no nome do usuário que realizou o logon, localizado no lado direito superior. </li>
    <li> Nesta parte é possível editar nome, e-mail, conteúdo e retrato. </li>
    <li> Clique em "Salvar" quando finalizar. </li>
    <li> Caso deseje alterar a senha, clique em "Alterar Senha". </li>
  </ol>
</div>