<div id="tutoriais">
  <h1> Acessando a pasta do usuário </h1>

  <p>
    Para o usuário acessar a sua pasta, basta clicar no item "Usuários" no menu "Navegação", localizado no lado
    esquerdo do portal.
  </p>

  <p>
    Após acessar essa área, será apresentada uma página de busca por usuários. O usuário pode consultar por nome de
    usuário, e-mail ou nome completo.
  </p>
  <p> Preencha os campos que achar mais conveniente e clique no botão "buscar".  </p>
  <p> Procure pelo perfil desejado e clique para acessar a pasta do usuário. </p>
</div>