<div id="tutoriais">
  <h4> Usando a pasta do usuário </h4>
  <span class="dica"> aviso: Esta é a visão de impressão com todas as páginas do tutorial em uma página.
    <%= link_to "A versão paginada está disponível aqui", url_tutorial("usando-a-pasta-do-usuario")%>,
    se você preferir esta.
  </span>
  <br /><br/>
  <span class="dica"> Este tutorial ensina a utilizar a pasta de usuário </span>
  <br />

  <h4> Introdução </h4>
  <span class="dica"> Conhecendo o conceito de pasta de usuário </span>
  <p>
    Quando é criado um usuário na biblioteca digital, automaticamente uma pasta é criada. Neste tutorial o usuário
    aprenderá a utilizar esta pasta.
  </p>

  <h4> Acessando a pasta do usuário </h4>
  <span class="dica"> O usuário aprenderá a acessar sua pasta </span>

  <p>
    Para o usuário acessar a sua pasta, basta clicar no item "Usuários" no menu "Navegação", localizado no lado
    esquerdo do portal.
  </p>

  <p>
    Após acessar essa área, será apresentada uma página de busca por usuários. O usuário pode consultar por nome de
    usuário, e-mail ou nome completo.
  </p>
  <p> Preencha os campos que achar mais conveniente e clique no botão "buscar".  </p>
  <p> Procure pelo perfil desejado e clique para acessar a pasta do usuário. </p>

  <h4> Visualizando a pasta do usuário </h4>
  <span class="dica"> O usuário irá acessar o conteúdo dentro da pasta de usuário. </span>

  <p>
    Após selecionar o perfil, aparecerá a pasta do usuário com os conteúdos salvos. Nela, existirá uma pasta
    "favorites", onde estarão todos os conteúdos favoritos. Também poderá existir uma pasta chamada "Saved Search",
    na qual estarão contidas todas as buscas salvas, caso o usuário as tenha feito.
  </p>

  <img src="<%= url_imagem("pasta_usuario.png")%>" alt="pasta do usuário" />
</div>