<div id="tutoriais">
  <h1> Visualizando a pasta do usuário </h1>

  <p>
    Após selecionar o perfil, aparecerá a pasta do usuário com os conteúdos salvos. Nela, existirá uma pasta
    "favorites", onde estarão todos os conteúdos favoritos. Também poderá existir uma pasta chamada "Saved Search",
    na qual estarão contidas todas as buscas salvas, caso o usuário as tenha feito.
  </p>

  <img src="<%= url_imagem("pasta_usuario.png")%>" alt="pasta do usuário" />
</div>