<div id="tutoriais">
  <h1> Buscando no Acervo </h1>

  <p>
    Quando o usuário deseja encontrar algo no acervo multimídia do portal, basta que ele digite a palavra no campo
    de busca no topo da página.
  </p>

  <img src="<%= url_imagem("busca_rapida.jpg")%>" alt="buscando no acervo" />
</div>