<div id="tutoriais">
  <h1> Salvando a Busca </h1>

  <p> Nesta página o usuário poderá dar a sua busca um título e uma descrição. O título é obrigatório. Logo abaixo do campo de descrição, ele também pode escrever um texto que aparecerá na página da sua busca salva. </p>

  <img src="<%= url_imagem("adicionando_busca.jpg")%>" alt="adicionando um busca" />

  <p>
    Logo abaixo, o usuário terá a opção de limitar os resultados que serão mostrados na página da busca salva.
    Abaixo, o usuário define a quantidade de itens que aparecerão.
  </p>

  <p>
    Após esta etapa, existe a opção de exibir os resultados em tabela. Marcando está opção, o usuário colocará
    abaixo os campos da tabela. Para adicionar um campo na tabela, basta escolher o campo desejado e clicar 2 vezes
    nele, ou selecioná-lo e clicar no botão “>>” ao lado. Para retirar um campo, basta repetir os procedimentos
    acima, porém na janela ao lado
  </p>

  <p>
    Terminada está configuração, o usuário terá a opção de receber um aviso por email, cada vez que um item novo
    aparecer na sua pesquisa.
  </p>

  <img src="<%= url_imagem("definindo_criterios.jpg")%>" alt="definindo critérios" />

  <p>
    Terminado suas configurações, basta clicar no botão "salvar" e o usuário será redirecionado para uma página
    onde aparecerão os resultados da sua busca.
  </p>

  <img src="<%= url_imagem("tela_resultados.jpg")%>" alt="tela de resultados" />
</div>