<div id="tutoriais">
  <h1> Gerando "grãos" de um conteúdo </h1>

  <p>
    Após a adição do conteúdo, o arquivo será enviado para a moderação do portal, que será responsável por avaliar o
    conteúdo e decidir se ele vai ser aprovado ou não. Sendo aprovado, o conteúdo será granularizado, ou seja,
    cópias das tabelas e imagens do arquivo serão disponibilizadas. Exemplos de grãos retirados de um documento e
    disponibilizados de forma independente no acervo podem ser vistos abaixo:
  </p>

  <img src="<%= url_imagem("graos.png")%>" alt="grãos" />
</div>