<div id="tutoriais">
  <h4> Separando partes de um documentos em "grãos" </h4>
  <span class="dica">
    Aviso: Esta é a visão de impressão com todas as páginas do tutorial em uma página. <%= link_to "A versão
      paginada está disponível aqui", url_tutorial("separando-partes-de-um-item-em-graos")%>, se você preferir esta.
  </span>
  <br /><br />
  <span class="dica"> O usuário aprenderá o que é um grão, como criá-lo e gerenciá-lo. </span>

  <h4> Introdução </h4>
  <span class="dica"> Conhecendo o processo de granularização de um arquivo </span>

  <p>
    Diversos tipos de conteúdos disponibilizados no portal da Biblioteca Digital podem ter partes de seus conteúdos
    disponibilizados de forma independente.  Estas partes, também chamadas de grãos, podem ser imagens, tabelas,
    partes de uma imagem vetorial, etc.
  </p>

  <h4> Gerando "grãos" de um conteúdo </h4>
  <span class="dica"> Procedimento para que o usuário possa granularizar, ou seja, gerar grãos do conteúdo </span>

  <p>
    Após a adição do conteúdo, o arquivo será enviado para a moderação do portal, que será responsável por avaliar o
    conteúdo e decidir se ele vai ser aprovado ou não. Sendo aprovado, o conteúdo será granularizado, ou seja,
    cópias das tabelas e imagens do arquivo serão disponibilizadas. Exemplos de grãos retirados de um documento e
    disponibilizados de forma independente no acervo podem ser vistos abaixo:
  </p>

  <img src="<%= url_imagem("graos.png")%>" alt="grãos" />
</div>