= render 'conteudos/show_dados_basicos', conteudo: @relatorio

%p
  Local da publicação:
  = @relatorio.local_publicacao
%p
  Ano:
  = @relatorio.ano_publicacao

%p
  Número de páginas:
  = @relatorio.numero_paginas
