<div id="tutoriais">
  <h1> Entendendo o workflow </h1>
  <span class="descricao">
    Este tutorial descreve o básico do funcionamento do workflow do plone, ou seja, o seu fluxo de informações.
  </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Funcionamento básico", url_para("funcionamento-basico") %>
  <span class="link_descricao">
    Introdução aos conceitos básicos do fluxo de informações da Biblioteca Digital.
  </span>
</div>