<div id="tutoriais">
  <h1> Entendendo as abas de edição, visão e compartilhamento </h1>
  <span class="descricao">
    Este tutorial tem o objetivo de apresentar ao usuário do sistema como funcionam as abas de edição, visão e
    compartilhamento localizadas em algumas páginas do portal.
  </span>
  <br / >
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Entendendo as abas", url_para("entendendo-as-abas") %>
</div>