<div id="tutoriais">
  <h1> Tutoriais </h1>
  <div class="tutorial">
    <%= link_to "Usando o Portal", url_para("usando_o_portal") %>
    <span class="descricao"> Descreve como usar o Portal </span>
  </div>

  <div class="tutorial">
    <%= link_to "Tipos de usuários", url_para("tipos_de_usuarios") %>
    <span class="descricao"> Este tutorial descreve os tipos de usuários, seus direitos e permissões. </span>
  </div>
</div>