<div id="tutoriais">
  <h1> Inserindo Referências Bibliográficas </h1>
  <span class="descricao">
    Este tutorial ajuda o usuário a inserir no texto referências de itens que já existem na biblioteca.
  </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Introdução", url_para("introducao") %>
  <span class="link_descricao">
    Neste tutorial o usuário aprenderá a inserir referências de itens existentes na biblioteca digital em seus
    textos.
  </span>
  <br />
  <%= link_to "Inserindo referências bibliográficas", url_para("inserindo-referencias-bibliograficas") %>
  <span class="link_descricao"> O usuário aprenderá como inserir referências no texto </span>
</div>