<div id="tutoriais">
  <h1> Salvando Buscas </h1>
  <span class="descricao">
    A biblioteca digital permite salvar suas buscas para que você possa reutilizar os resultados futuramente.
    Entenda como salvar-los e reutiliza-los.
  </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Buscando no Acervo", url_para("buscando-no-acervo") %>
  <span class="link_descricao"> Este tutorial ensina como realizar buscas no acervo da Biblioteca Digital. </span>

  <%= link_to "Resultados da Busca", url_para("resultados-da-busca") %>
  <span class="link_descricao"> Buscando no acervo e visualizando os resultados. </span>
  <br />
  <%= link_to "Salvando a Busca", url_para("salvando-a-busca") %>
  <span class="link_descricao"> Salvando uma busca para futuras consultas. </span>
</div>