<div id="tutoriais">
  <h1> Separando partes de um documentos em "grãos" </h1>
  <span class="descricao"> O usuário aprenderá o que é um grão, como criá-lo e gerenciá-lo. </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Introdução", url_para("introducao") %>
  <span class="link_descricao"> Conhecendo o processo de granularização de um arquivo </span>
  <br />
  <%= link_to 'Gerando "grãos" de um conteúdo', url_para("gerando-graos-de-um-conteudo") %>
  <span class="link_descricao">
    Procedimento para que o usuário possa granularizar, ou seja, gerar grãos do conteúdo
  </span>
</div>