<div id="tutoriais">
  <h1> Tipos de usuários </h1>
  <span class="descricao"> Este tutorial descreve os tipos de usuários, seus direitos e permissões. </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Tipos de usuários", url_para("usuarios") %>
  <span class="link_descricao"> Descrição dos tipos de usuários do portal da Biblioteca Digital. </span>
</div>