<div id="tutoriais">
  <h1> Usando a pasta do usuário </h1>
  <span class="descricao"> Este tutorial ensina a utilizar a pasta de usuário </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Introdução", url_para("introducao") %>
  <span class="link_descricao"> Conhecendo o conceito de pasta de usuário </span>
  <br />
  <%= link_to "Acessando a pasta do usuário", url_para("acessando-a-pasta-do-usuario") %>
  <span class="link_descricao"> O usuário aprenderá a acessar sua pasta </span>
  <br />
  <%= link_to "Visualizando a pasta do usuário", url_para("visualizando-a-pasta-do-usuario") %>
  <span class="link_descricao"> O usuário irá acessar o conteúdo dentro da pasta de usuário. </span>
</div>