<div id="tutoriais">
  <h1> Usando o Favoritos </h1>
  <span class="descricao"> Tutorial de como adicionar um documento ou partes dele no Favoritos do usuário. </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Entendendo como usar o Favoritos", url_para("entendendo-como-usar-o-favoritos") %>
  <span class="link_descricao">
    Usando o Favoritos para guardar referências de documentos ou partes(tabelas e imagens) para futuros acessos.
  </span>
</div>