- if current_usuario.present? && can?(:ter_estante, current_usuario)
  #estante.portlet
    %h3 Estante
    - current_usuario.estante.reverse[0..2].each do |conteudo|
      .item
        = link_to conteudo.titulo, conteudo
        %br
        %span.info
          = "#{conteudo.nome_contribuidor} - #{conteudo.created_at.strftime('%d/%m/%Y')}"
    - if current_usuario.estante.blank?
      %p Não há nenhum conteúdo pendente.
