- if current_usuario.present? && can?(:ter_estante, current_usuario)
  #estante.portlet
    %h3 Estante
    - estante = current_usuario.estante
    - if estante.blank?
      %p Não há nenhum conteúdo publicado ou favoritado.
    - else
      #items
        - limitar_para_portlet(estante, reverse: true).each do |item|
          .item
            = render 'usuarios/item_estante', item: item

        = link_to "Ver todos", estante_usuario_path(current_usuario)
