- if current_usuario.present?
  #minhas_buscas.portlet
    %h3 Minhas Buscas
    - if current_usuario.buscas.present?
      - current_usuario.buscas.each do |busca|
        .item
          = link_to busca.titulo, buscas_path
          = link_to 'Editar', edit_busca_path(busca)
          = link_to 'Deletar', busca_path(busca), method: "delete", confirm: 'Tem certeza?'
    - else
      %p Não há buscas salvas.
