- if current_usuario.present?
  #minhas_buscas.portlet
    %h3 Minhas Buscas
    - if current_usuario.buscas.present?
      - current_usuario.buscas.each do |busca|
        .item
          = link_to busca.titulo, busca
          = link_to 'Editar', edit_usuario_busca_path({:usuario_id => current_usuario.id, :id => busca.id})
          = link_to 'Deletar', [current_usuario, busca], confirm: 'Tem certeza?', method: :delete
    - else
      %p Não há buscas salvas.