<div id="acessibilidade">
  <h1> Acessibilidade </h1>
  <p>Este site foi desenvolvido conforme as orientações do EMAG 3.0.</p>
  <p>Este site possui opções para aumento e diminuição de fontes e alto contraste, sendo navegávels através dos leitores de tela mais utilizados.</p>
  <p>Teclas de acesso são um recurso de navegação que permitem a você navegar neste web site com o seu teclado.</p>
  <p>Teclas de acesso disponíveis:</p>
  <p>1 — Ir para o conteúdo</p>
  <p>2 — Menu</p>
  <p>3 — Foco no campo de busca</p>
  <p>4 — Página Inicial</p>
  <p>5 — Mapa do site</p>
  <p>Se existir qualquer coisa neste site — relacionado à acessibilidade ou validação — que não esteja de acordo com os padrões, por favor entre em contato com a Administração do Site.</p>
</div>
