<div id="acessibilidade">
  <h1> Acessibilidade </h1>
  <p>Este site foi desenvolvido conforme as orientações do EMAG 3.0.
  <p>Este site possui opções para aumento e diminuição de fontes e alto contraste, sendo navegávels através dos leitores de tela mais utilizados.
  <p>Teclas de acesso são um recurso de navegação que permitem a você navegar neste web site com o seu teclado.
  <p>Teclas de acesso disponíveis:
  <p>1 — Página Inicial
  <p>2 — Ir para o conteúdo
  <p>3 — Menu
  <p>4 — Foco no campo de busca
  <p>5 — Mapa do site
  <p>6 — Navegação
  <p>Se existir qualquer coisa neste site — relacionado à acessibilidade ou validação — que não esteja de acordo com os padrões, por favor entre em contato com a Administração do Site.
</div>
