<div class="ajuda">
  <h1>Ajuda</h1>
  <a href="ajuda/manuais"> Manuais de ajuda </a>
  <p> Contém os manuais de ajuda para os usuários do portal da Biblioteca Digital. </p>
   <%= link_to "Tutoriais", tutoriais_path %>
  <p>Tutoriais detalhados.</p>
</div>
