<div class="ajuda">
  <h1>Ajuda</h1>
  <a href="#">Manuais de ajuda</a>
  <p>Contém os manuais de ajuda para os usuários do portal da Biblioteca Digital.</p>
  <a href="#">Tutoriais</a>
  <p>Tutoriais detalhados.</p>
</div>
