%h2 Documentos mais acessados

%div{:class => "estatisticas"}
  %table{:class => "tabelas_de_estatisticas", :id => "acesso_de_documentos", :border => "1"}
    %th Nome do documento
    %th Número de acessos
    - @estatisticas.documentos_mais_acessados.each do |d|
      %tr
        %td
          = link_to d.titulo, "conteudos/#{d.id}"
        %td
          = d.numero_de_acessos
%br
= link_to "Voltar", :back
