<h1>Gráfico dos documentos mais acessados</h1>
  <h3>Por conteúdo individual:</h3>

  <div>
    <div id="cinco_acessos" class="graph"></div>
    <a id='salvar_cinco'>Click para salvar o gráfico</a>
  </div>
  <h3>Por tipo de conteúdo:</h3>

  <div>
    <div id="conteudo" class="graph"></div>
    <a id='salvar_conteudo'>Click para salvar o gráfico</a>
  </div>

  <h3>Por subárea do conhecimento:</h3>

  <div>
    <div id="subarea" class="graph"></div>
    <a id='salvar_subarea'>Click para salvar o gráfico</a>
  </div>

  <h3>Documentos mais acessados:</h3>

  <div>
    <div id="todos_acessos" class="graph"></div>
    <a id='salvar_todos_acessos'>Click para salvar o gráfico</a>
  </div>