<div id=manuais>
  <h1> Manuais de Ajuda </h1>
  <%= link_to_manual "Manual do bibliotecário", "manual_do_bibliotecario.pdf" %>

  <span class="descricao"> Este material contém a união de todos os tutoriais necessários para que o
  bibliotecário da Biblioteca Digital possa administrar o portal. </span>
</br>
  <%= link_to_manual "Manual do usuário", "manual_do_usuario.pdf" %>
  <span class="descricao"> Este material contém a união de todos os tutoriais necessários
  para que o usuário da Biblioteca Digital possa utilizar os recursos do portal. </span>
</div>