<div class="about">
  <h1>Sobre</h1>

    <p>O portal da Biblioteca Digital da EPCT visa disponibilizar um acervo bibliográfico digital de maneira a contribuir para a disseminação do material científico e tecnológico produzido na rede de Instituições de EPCT como artigos, monografias, dissertações, teses e periódicos, promovendo a disseminação nacional e internacional deste conteúdo, produzido pelo conjunto de atores que trabalham nas diferentes áreas e níveis desta modalidade educacional, colaborando na qualificação do material humano da rede e na disseminação de conhecimento.</p>
    <p>A Biblioteca Digital é totalmente desenvolvida com tecnologias livres e de forma colaborativa pelo Instituto Federal Fluminense e pelo Instituto Federal do Piauí.</p>

    <h2>Finalidade</h2>

      <p>Contribuir para a qualificação e a articulação das instituições de Educação Profissional, Científica e Tecnológica por meio de uma base de conhecimento que facilite a disseminação do material produzido pelos atores da Rede de EPCT, permitindo ainda a colaboração entre estes atores tendo esta base de conhecimento como alicerce.</p>

    <h2>Objetivos</h2>

      <p>Os objetivos da BD são relacionados ao fornecimento de serviços de armazenamento, busca, recuperação e colaboração que façam uso dos recentes avanços tecnológicos na área de maneira a proporcionar aos seus usuários uma ferramenta útil e fácil de empregar. Dentre estes destacam-se:</p>

        <ul>
          <li>Implementar mecanismos de buscas que atendam tanto aos usuários iniciantes quanto a usuários experientes, de maneira a cobrir todo o espectro de usuários.</li>

          <li>Implementar mecanismos que possibilitem aos usuários participar na construção do conhecimento dentro da Biblioteca, participando de listas de discussão, criando resenhas, atribuindo notas a material, salvando e compartilhando suas buscas.</li>

          <li>Implementar mecanismos de reutilização do conhecimento, na forma de extração automática de grãos de documentos (tabelas, imagens e parágrafos), imagens vetoriais, animações e vídeos, e que podem ser reutilizados para construir novos documentos.</li>

          <li>Implementar mecanismos de armazenamento e indexação massivos, de maneira a ter uma solução que possa crescer com a demanda, sem perder a qualidade no serviço prestado ao usuário final.</li>

          <li>Estabelecer um conjunto de termos da EPCT, que possibilite o emprego de uma nomenclatura comum que evite ambigüidades e definições incorretas, de forma a padronizar e dar maior precisão às buscas.</li>

          <li>Estabelecer uma rede semântica de termos da EPCT, que possibilite navegar em redes de termos associados, de forma a dar inteligência e melhorar a abrangência das buscas.</li>

          <li>Implementar mecanismos de busca em imagem, vídeo e som. </li>
        </ul>

</div>
