<div id="tutoriais">
  <h1> Entendendo como usar o Favoritos </h1>

  <p>
    O Favoritos permite que um usuário cadastrado organize os conteúdos existentes na Biblioteca Digital que sejam de
    seu interesse. Podem ser adicionados à ele documentos na íntegra ou partes de documentos (Tabelas e Imagens).
    O conteúdo armazenado no Favoritos é particular, desta forma, o usuário somente tem acesso aos itens adicionados
    por ele. Ele é permanente e estará com seu conteúdo disponibilizado para o usuário toda vez que este entrar no
    sistema.
  </p>
  <p> Para adicionar um item no Favoritos, os seguintes passos devem ser executados:  </p>
  <p> Localizar o documento desejado; </p>
  <p>
    Caso o item que se deseja colocar na estante seja uma parte de um documento (tabelas ou imagens), selecionar a
    parte desejada;
  </p>
  <p>
    Na página do documento ou do grão, clicar no link “Adicionar aos favoritos” na parte inferior direita da página;
  </p>
  <p> Para detalhar um item localizado no Favoritos, os seguintes passos devem ser executados: </p>
  <p> Clique no nome do item desejado </p>
  <p> Para apagar um item do Favoritos, os seguintes passos devem ser executados: </p>
  <p> Selecionar o item que se deseja apagar; </p>
  <p> Clique no ícone "Excluir". </p>
</div>