<div id="tutoriais">
  <h1> Adicionando um vídeo </h1>
  <p>
    A Biblioteca permite incluir vídeos em diversos formatos e posteriormente visualizá-los pelo acesso da
    biblioteca digital.
  </p>
  <p>
    Para adicionar um Vídeo ao acervo, deve-se clicar na opção para adicionar um Arquivo, que fica no menu
    "Adicionar item no Portal".
  </p>

  <img src="<%= url_imagem("adicionar_video.jpg")%>" alt="adicionar um vídeo" />

  <p>
    Após isso, preencha os campos "Título", "Grande Área" e "Área" e selecione o arquivo de vídeo da sua máquina que deseja enviar.
  </p>

  <img src="<%= url_imagem("adicionar_conteudo.png")%>" alt="adicionar conteúdo" />

  <p>
    Depois de incluído todos os campos necessários, deve-se clicar em "Salvar". Após isso, deverá aparecer um tela
    com um tocador de vídeo, permitindo exibí-lo. A exbição vai depender se o sistema em que está sendo usado
    possui recursos de exibição de vídeos, chamados de <em>plugins</em>. De modo geral, os <em>plugins</em>
    permitem visualizar, e muitas vezes editar e/ou executar arquivos em que não possuem compatibilidade com o seu
    navegador.
  </p>
  <p>
    Arquivos de vídeo possuem diversos formatos e extensões de arquivo, em que cada um deles permite uma melhor
    qualidade ou um menor tamanho de arquivo.
  </p>

  <img src="<%= url_imagem("exemplo_video.png")%>" alt="exemplo de vídeo" />
</div>