<div id="tutoriais">
  <h1> Adicionando um objeto de aprendizagem </h1>

  <p> Objetos de aprendizagem são recursos digitais que podem ser reutilizados e que ajudam no aprendizado. </p>
  <p>
    Para adicionar um Objeto de aprendizagem basta clicar em "Adicionar Item" e logo em seguida clicar em "objeto de
    aprendizagem", como mostra a figura a seguir:
  </p>

  <img src="<%= url_imagem("add_objeto_aprendizagem.jpg")%>" alt="adicionar objeto de aprendizagem" />

  <p>
    Logo em seguida é preciso preencher alguns campos. Na aba "Padrão" há campos obrigatórios. Os campos
    obrigatórios são seguidos de um pequeno quadrado vermelho como mostra a figura a seguir:
  </p>

  <img src="<%= url_imagem("adicionar_conteudo.png")%>" alt="adicionar conteúdo" />

  <p>  Após preenchidos os campos, basta clicar em "salvar". </p>
</div>