<div id="tutoriais">
  <h1> Adicionando um trabalho de conclusão de curso </h1>

  <p>
    Para adicionar um Trabalho de Conclusão de Curso basta clicar em "adicionar item" e logo em seguida clicar em
    "trabalho de conclusão de curso", como mostra a figura a seguir:
  </p>

  <img src="<%= url_imagem("add_trab_conclusao.jpg")%>" alt="adicionar trabalho de conclusão" />

  <p>
    Logo em seguida é preciso preencher alguns campos. Na aba "Padrão" há campos obrigatórios. Os campos
    obrigatórios são seguidos de um pequeno quadrado vermelho como mostra a figura a seguir:
  </p>

  <img src="<%= url_imagem("adicionar_conteudo.png")%>" alt="adicionar conteúdo" />

  <p>  Após preenchidos os campos, basta clicar em "salvar". </p>
</div>