<div id="tutoriais">
  <h1> Incluindo um documento </h1>
  <p>
    Um documento pode ser um artigo, trabalho de conclusão de curso ou objeto de aprendizado. Ao incluir um
    documento, preencha os seus metadados obrigatórios bem como todos os outros pertinentes.
  </p>
  <p>
    É importante ressaltar que quando um documento é inserido, pode levar algum tempo até que ele seja aprovado por
    um bibliotecário.
  </p>

  <img src="<%= url_imagem("adicionar_itens.jpg")%>" alt="adicionar conteúdos" />

  <p>
    Quando o documento enviado for aprovado para publicação no acervo, suas tabelas e suas imagens serão extraídas
    e disponibilizadas como grãos, como mostrado nas figuras abaixo:
  </p>

  <h5> Tabela de grãos </h5>
  <br />
  <img src="<%= url_imagem("tabela_graos.jpg")%>" alt="tabela de grãos" />
</div>