<div id="tutoriais">
  <h1> Introdução </h1>

  <p>
    Para a inclusão de novos exemplares de documentos e imagens à biblioteca, é necessário compreender os diversos
    tipos de conteúdo providos pelo mesmo. Para a adição dos novos conteúdos, usa-se a própria interface de acesso
    da biblioteca para a inclusão. Novos exemplares no acervo são adicionados através da página inicial da
    biblioteca digital.
  </p>

  <img src="<%= url_imagem("busca_portal.jpg")%>" alt="página inicial" />

  <h5> Tipos de item do acervo </h5>
  <h5> Objeto de Aprendizagem </h5>

  <p> Objetos de aprendizagem são recursos digitais que podem ser reutilizados e que ajudam no aprendizado. </p>
  <h5> Arquivo </h5>

  <p>
    Tipo de conteúdo para armazenar na biblioteca Digital deferentes formatos de arquivos. É possível visualizar
    vídeos, ouvir arquivos de som e pré-visualizar documentos como pdf,doc,odf, dentre outros.
  </p>

  <h5> Imagem </h5>

  <p>
    O tipo de exemplar imagem é usado para carregar arquivos de imagem(JPG,GIF,PNG). Assim o usuário pode inserí-lo
    e reaproveitá-lo para construir outros tipos de conteúdo.
  </p>

  <h5> Trabalho de Conclusão de Curso </h5>
  <p> Permite carregar um documento e identificá-lo como trabalho final de curso. </p>

  <h5> Artigo Científico </h5>
  <p>
    Permite reutilizar um artigo científico extraindo suas partes. As partes do artigo podem ser referenciadas e/ou
    usadas em outros documentos e artigos.
  </p>

  <h5> Entendendo os campos de um conteúdo </h5>
  <p>
    Todo tipo de conteúdo possui uma série de campos, que permitem descrevê-los de maneira correta.Todos os
    exemplares na biblioteca possuem dois campos importantes em comum: <strong>Título</strong> e
    <strong>Descrição.</strong>
  </p>
  <p>
    De forma geral, outros campos vão variar de acordo com o tipo de conteúdo. Por exemplo, o tipo de conteúdo
    "Trabalho de conclusão de curso" possui o campo "Área de conhecimento", o tipo de conteúdo "Objeto de aprendizagem" possui o campo "Nível de educação", e assim continuamente.

  </p>

  <h5> Título </h5>
  <p>
    Pode-se usar qualquer caractere do teclado, incluindo espaços em branco. O Título se torna parte do endereço
    web de cada exemplar que é criado na biblioteca. Endereços web, conhecidos como URL, são o que você digita em
    um navegador quando deseja ir a uma específica localização em uma página web(Ou onde voce gostaria de clicar e
    visitar, como:
  </p>
  <p> www.mysite.com/about/personnel/sally/bio </p>
  <p> ou </p>
  <p> www.mysite.com/images/butterflies/skippers/long-tailed-skippers </p>

  <p>
    Endereços web tem restrições com relação aos caracteres permitidos, e espaços não são permitidos. Logo, o
    sistema converte o título corretamente para um endereço válido trocando os caracteres inválidos para
    correspondentes válidos, quando os mesmos estão presentes no Título.
  </p>

  <p>
    O endereço web de um determinado exemplar é referido como <strong>nome curto</strong>. Ao usar a função
    <strong>Renomear</strong>, o usuário irá ver o nome curto juntamente com o Título.
  </p>

  <h5> Descrição </h5>
  <p>
    A Descrição aparece em todas as página de edição, como o Título. Descrições são usadas como um breve resumo do
    exemplar. A descrição é usada em uma série de visualizações, como um em uma página de resulados de busca.
  </p>
</div>