development:
  address: '200.167.129.65'
  port: '25'
  domain: 'iff.edu.br'
  enable_starttls_auto: false

test:
  address:
  port:
  authentication: plain
  user_name:
  password:
  enable_starttls_auto: false

production:
  address: '200.167.129.65'
  port: '25'
  domain: 'iff.edu.br'
