(function(){
  var sub_areas = $(".sub_areas");

  //remove elementos presentes no combo-box
  sub_areas.children().remove();

  //executa este código somente na pagina de busca avancada
  if ($('#sub_area_busca_avancada').size() != 0)
  {
    sub_areas.append("<option>Todas</option>");
  }

  //inclui as sub_areas da grande area selecionada
  <% @area.sub_areas.each do |sub_area| %>
    sub_areas.append(
        "<option value=' <%= sub_area.nome %> '> <%= sub_area.nome %> </option>");
  <% end %>
})();
