= form_tag "/editor" do
  = cktext_area_tag("documento",
    @inclui_graos ? @cesta.map {|grao_id| Grao.find(grao_id) }.reject(&:arquivo?).map {|grao| "<img src='data:image/xyz;base64,#{grao.conteudo_base64}'>" }.join.html_safe : "")
  = submit_tag "Download"
