.busca_por_imagem_form
    %h1 Busca por Imagem
    = form_tag url: busca_por_imagem_path, method: 'post' do
        .envia_imagem
            %input{:type => 'file'}
        %input{:type => 'submit',:value => ''}
