- if current_usuario.present? && can?(:ter_estante, current_usuario)
  %h3 Estante
  - current_usuario.estante.each do |item|
    .item
      = render 'usuarios/item_estante', item: item

      - if item.is_a? Referencia and item.referenciavel
        = button_to 'Remover favorito', remover_favorito_conteudo_path(item.referenciavel), method: :put
      %br
      %br
  - if current_usuario.estante.blank?
    %p Não há nenhum conteúdo pendente.
