%div{:class => "administracao"}
	%h1 Administração
	= link_to "Gerenciar papeis de usuários", papeis_usuarios_path
	%p Página para atribuição de papéis e exclusão de usuários.
	= link_to "Adicionar usuário"
	%p Página para inclusão de usuários.
