- if current_usuario.present? && can?(:ter_lista_de_revisao, current_usuario)
  %h3 Lista de Revisão
  - lista_de_revisao = current_usuario.lista_de_revisao
  - if lista_de_revisao.present?
    - lista_de_revisao.each do |conteudo|
      .item
        = link_to conteudo_tag(conteudo), conteudo_path(conteudo)
  - else
    %p Não há nenhum conteúdo para revisão.

