- if current_usuario.present? && can?(:ter_lista_de_revisao, current_usuario)
  - lista_de_revisao = current_usuario.lista_de_revisao
  %h3 Lista de Revisão
  - if lista_de_revisao.present?
    %table
      %thead
        %tr
          %th Título
      %tbody
        - lista_de_revisao.each do |conteudo|
          %tr
            %td= conteudo_tag(conteudo)
    - else
      %p Não há nenhum conteúdo para revisão.

