<div id="tutoriais">
  <h1> Adicionando grãos ao carrinho </h1>
  <p> Para adicionar um item no carrinho de grãos os seguintes passos devem ser executados: </p>

  <ol>
    <li> Localize o documento desejado; </li>
    <li> Selecione o grão do documento que se deseja adicionar ao carrinho; </li>
    <li> Clique em "Adicionar à cesta de grãos". </li>
  </ol>

  <img src="<%= url_imagem("img_documento.png")%>" alt="imagem do documento" />
</div>