<div id="tutoriais">
  <h1> Criando uma página html com os items do carrinho </h1>

  <p> Para criar uma página html com os partes existentes no carrinho os seguintes passos devem ser executados: </p>
  <ol>
    <li> Selecionar os grãos que o usuário deseja inserir no html </li>
    <li> Selecionar a opção "Renderizar em HTML" </li>
  </ol>
</div>