<div id="tutoriais">
  <h1> Criando um documento odt com os items do carrinho </h1>

  <p> Para criar um documento odt com as partes existentes no carrinho, os seguintes passos devem ser executados: </p>
  <ol>
    <li> Selecionar os grãos que o usuário deseja inserir no odt </li>
    <li> Selecionar a opção "Baixar Documento" </li>
  </ol>
</div>