<div id="tutoriais">
  <h1> Introdução </h1>
  <p>
    O carrinho de grãos possibilita a um usuário cadastrado selecionar partes de diferentes documentos, armazenar
    suas referências e gerar novos documentos com os partes previamente selecionadas.
  </p>
</div>