<div id="tutoriais">
  <h1> Retirarando grãos do carrinho </h1>
  <p> Para retirar um item do carrinho de grãos os seguintes passos devem ser executados: </p>
  <ol>
    <li>  Marcar no carrinho de grãos a caixa de seleção do item que se deseja apagar; </li>
    <li> Selecionar a opção "Deletar". </li>
  </ol>
</div>