<div id="tutoriais">
  <h4> Usando o Carrinho de Grãos </h4>
  <span class="dica"> aviso: Esta é a visão de impressão com todas as páginas do tutorial em uma página.
    <%= link_to "A versão paginada está disponível aqui", url_tutorial("usando-o-carrinho-de-graos")%>,
    se você preferir esta.
  </span>
  <br /><br />
  <span class="dica">
    Usando o carrinho de grãos para gerar documento a partir de partes extraídas de outros documentos.
  </span>

  <h4> Introdução </h4>
  <span class="dica"> Entendendo o que é o carrinho de grãos </span>
  <p>
    O carrinho de grãos possibilita a um usuário cadastrado selecionar partes de diferentes documentos, armazenar
    suas referências e gerar novos documentos com os partes previamente selecionadas.
  </p>

  <h4> Adicionando grãos ao carrinho </h4>
  <span class="dica"> O usuário aprenderá como adicionar partes de um documento ao carrinho de grãos </span>
  <p> Para adicionar um item no carrinho de grãos os seguintes passos devem ser executados: </p>

  <ol>
    <li> Localize o documento desejado; </li>
    <li> Selecione o grão do documento que se deseja adicionar ao carrinho; </li>
    <li> Clique em "Adicionar à cesta de grãos". </li>
  </ol>

  <img src="<%= url_imagem("img_documento.png")%>" alt="imagem do documento" />

  <h4> Retirarando grãos do carrinho </h4>
  <span class="dica"> O usuário aprenderá como retirar items do carrinho de grãos </span>
  <p> Para retirar um item do carrinho de grãos os seguintes passos devem ser executados: </p>
  <ol>
    <li>  Marcar no carrinho de grãos a caixa de seleção do item que se deseja apagar; </li>
    <li> Selecionar a opção "Deletar". </li>
  </ol>

  <h4> Criando uma página html com os items do carrinho </h4>
  <span class="dica"> O usuário aprenderá como gerar um html a partir dos grãos que estiverem no carrinho </span>
  p> Para criar uma página html com os partes existentes no carrinho os seguintes passos devem ser executados: </p>
  <ol>
    <li> Selecionar os grãos que o usuário deseja inserir no html </li>
    <li> Selecionar a opção "Renderizar em HTML" </li>
  </ol>

  <h4> Criando um documento odt com os items do carrinho </h4>
  <span class="dica"> O usuário aprenderá como criar um arquivo odt com os grãos que estiverem no carrinho </span>
  <p> Para criar um documento odt com as partes existentes no carrinho, os seguintes passos devem ser executados: </p>
  <ol>
    <li> Selecionar os grãos que o usuário deseja inserir no odt </li>
    <li> Selecionar a opção "Baixar Documento" </li>
  </ol>
</div>