#manuais, #tutoriais {
  h1 {
    color: #526B13;
  }

  h4, h5 {
    margin-bottom: 0px;
  }

  span.dica {
    font-size: 75%;
    color: #76797C;
  }

  a {
    color: #526B13;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    align: justify;
  }

  .descricao {
    padding: 0px;
    display: block;
    margin-left: 20px;
    font-size: 80%;
  }

  .tutorial {
    border-top: solid 1px #526B13;
    margin-bottom: 10px;
    padding: 5px;
  }

  .link_descricao {
    font-size: 80%;
    margin-bottom: 50px;
    padding: 5px;
  }

  ol {
    list-style: decimal;
    margin-left: 50px;

    li {
      padding: 5px;

      img {
        padding-top: 10px;
        display: block;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

.tutorial {
  a.titulo {
    color: black !important;
    font-weight: bolder;
  }

  a.ler_mais {
    font-size: 80%;
  }
}