.busca_por_imagem_form input[type='submit']{
  position: relative;
  float: right;
  width: 70px;
  height: 31px;
  margin-top: -1px;
  margin-right: -80px;
}

.busca_por_imagem_form input[type='file']{
  opacity: 0;
  width: 319px;
}

.busca_por_imagem_form span{
  margin-left: -322px;
  position: relative;
  top: 6px;
}

.envia_imagem{
  height: 29px;
  width: 330px;
  margin-left: 63px;
  background: #FFFFFF;
  border: 1px solid #B3B3B3;  
  input{
    margin-top: 4px;
    margin-left: 4px;
    float: left;
  }
}
