#alert, #error {
  border: 1px solid #DD8800;
  width: 100%;
  background-color: #FFDD77;
  color: #343434;
  font-family: Verdana,"Bitstream Vera Sans",Arial,sans-serif;
  font-size: 0.85em;
  padding: 0.35em;
}

