fieldset {
  border: solid 1px #000;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 140%;
  font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  font-weight: normal;
  width: 60%;
}

input:focus {
  border-color: orange;
}

input[type="checkbox"] {
  width: 20px;
}

input[type="submit"] {
  float: left;
  width: 80px;
  margin-bottom: 20px;
}

.inline-hints {
  margin-top: 0;
  font-size: 80%;
  color: gray;
}

.hint {
  display: block;
}

select {
  width: auto;
  margin-bottom: 10px;
}

.autores input {
  font-size: 80%;
}

.error, .errors {
  background-color: #fdc;
  border: 1px solid #d00;
  padding: 0.5em;
  margin: 0 0 1em 0;
  width: 95%;
  display: block;
}

abbr {
  color: red;
}

textarea {
  font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  height: 150px;
  width: 90%;
  overflow: auto;
  font-family: inherit;
  font-size: inherit;
}

form a {
  color: #000;
}

form li {
  list-style: none;
}

/* tornando asterisco de campo obrigatorio invisivel para forms de conteudo */
#metadados_basicos label abbr {
  display: none;
}
