#mascara {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  margin: 0;
  z-index: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

#notificacoes {
  top: 35%;
  left: 50%;
  margin-left: -300px;
  background: #e7f0d1;
  border: 1px solid #FFFFFF;
  height: auto;
  width: 600px;
  position: absolute;
  padding: 5px;
  box-shadow: 0 2px 2px #FFFFFF, 0 -2px 5px #FFFFFF;
  -moz-box-shadow: 0 2px 2px #FFFFFF, 0 -2px 5px #FFFFFF;
  -webkit-box-shadow: 0 2px 2px #FFFFFF, 0 -2px 5px #FFFFFF;
}

#notificacoes a {
  text-decoration: none;
}

#cabecalho_notificacoes {
  color: #FFFFFF;
  padding: 5px;
  margin: 0 0 0.5em 0;
  font-family: FuturaStd;
  text-align: center;
  font-size: 3.0em;
  background: #516A13 url(/assets/bg.gif);
}

#conteudo_notificacoes {
  color: #000000;
  text-align: justify;
  margin: 15px;
  font-family: 'Verdana';
  font-size: 13px;
}

#conteudo_notificacoes ul{
  list-style: none outside none;
  margin: 0 0 -21px 0;
}

#conteudo_notificacoes li{
  float: left;
  padding: 0px 5px;
  margin: -10px 0 0 25px;
}

#sair_notificacoes {
  background: #516A13 url(/assets/bg.gif);
  border: 1px solid #FFFFFF;
  color: #FFF;
  font-family: FuturaStd;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  width: 30px;
  float: left;
}
