// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home p {
  margin-right: 20px;
  text-align: justify;
  color: gray;
}

#adicionar_conteudo ul {
  list-style: none outside none;
}

#adicionar_conteudo a {
  color: #000;
}

#adicionar_conteudo legend {
  display: none;
}

.about {
  margin-right: 20px;
}

.about p, li {
  text-align: justify;
}

.ajuda a {
  color: #648217;
}

#acesso_de_documentos a {
  color: #000;
}

#acesso_de_documentos td:first-child {
  padding-right: 20px;
}

#tipos_de_conteudo td:first-child {
  padding-right: 20px;
}

#sub_ara_de_conhecimento th:first-child {
  padding-right: 20px;
} 

.graph{
  width: 400px;
  height: 300px;
  float: left;
  border: 1px dashed gainsboro;
}
