.portlet {
  clear: right;
  float: right;
  background-color: #e7f0d1;
  width: 196px;
  border: 1px solid #cab2d7;
  border-bottom: 2px solid #587314;
  margin: 5px 5px 5px;

  h3 {
    color: #666666;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }

  p {
    margin: 10px;
  }

  .item {
    clear: both;
    margin: 5px;
    padding: 5px;

    a {
      color: #648217;
    }

    .info {
      display: block;
      font-size: 0.85em;
      float: right;
      margin-bottom: 4px;
    }
  }
}

#lista_de_revisao a {
  color: #FFA500;
}

.content {
  float: right;
}
