.conteudo_tag {
  font-weight: bold;
  padding-left: 20px;
}

@each $tipo in artigo_de_evento, artigo_de_periodico, livro, objeto_de_aprendizagem, periodico_tecnico_cientifico, relatorio, trabalho_de_obtencao_de_grau {
  .conteudo-#{$tipo} {
    background-image: url('/assets/conteudos/#{$tipo}.png');
    background-repeat: no-repeat;
  }
}

#tipo_de_conteudo {
  margin: -25px 0 0 0;
  text-align: center;
}

h1#titulo-conteudo {
  color: #526B13;
}

p#resumo-conteudo {
  font-size: 13px;
  text-align: justify;
  margin: 3px 10px 0 0;
}

#autores-conteudo {
  border-collapse: collapse;
}

#autores-conteudo th {
  background: #9ACD32;
  width: 300px;
}

#autores-conteudo td {
  text-align: center;
}

#autores-conteudo tr:nth-child(even) {
  background-color: #CFCFCF;
}

h1#titulo-grao {
  color: #526B13;
}

img#doc_thumbnail {
  border: 1px solid #999;
  margin-top: 10px;
}
