%p
  Olá #{@resource.email}!
%p Alguém requisitou um link para mudar sua senha, você pode fazê-lo através do link abaixo.
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se você não requisitou esta ação, ignore o e-mail por favor.
%p Sua senha não irá mudar antes que você acesse o acima e crie uma nova.
