-# HACK este arquivo está em app/views/application por eu não ter conseguido
-#      (ou ele não ter esta opção) configurar o Cocoon para acessar o partial
-#      de fields em outro diretório de views.
.nested-fields
  = f.inputs do
    = f.input :nome, label: 'Autor'
    = f.input :lattes, label: 'Curriculum Lattes'
    = link_to_remove_association 'Remover autor', f
