<div id="tutoriais">
  <h1> Adicionando uma imagem no texto </h1>
  <p> Para adicionar uma imagem no editor, clique no ícone "Inserir Imagem". </p>

  <img src="<%= url_imagem("adicionar_img_kupu.png")%>" alt="adicionar uma imagem no kupu" />

  <p> Após esta etapa, será exibida uma tela para inserir uma imagem, como mostrado abaixo: </p>

  <img src="<%= url_imagem("enviar_img_kupu.png")%>" alt="enviar uma imagem para o kupu" />

  <p>
    Para inserí-la, clique no botão "Enviar imagem aqui...", em seguida clique no botão "Arquivo" e selecione a
    imagem no seu computador.
  </p>
</div>