<div id="tutoriais">
  <h1> Inserindo link no texto </h1>

  <p> No editor de texto existe a opção de inserção para objetos internos e externos. </p>
  <p>
    <strong>Link Interno</strong>: Quando o usuário precisa colocar um link para um objeto que está inserido na
    Biblioteca Digital, basta seguir os seguintes passos:
  </p>
  <ol>
    <li>
      Clicar no ícone "Inserir link interno", localizado na barra de ferramentas do editor.

      <img src="<%= url_imagem("inserir_link_interno_kupu.png")%>" alt="inserir link interno no kupu" />
    </li>
    <li>
      Uma tela aparecerá para o usuário procurar pelo objeto que deseja referenciar. Esta janela permite ao usuário
      navegar pelo site e procurar pelo objeto que deseja fazer referência (ex: imagem, pasta).

      <img src="<%= url_imagem("configurando_link_kupu.png")%>" alt="configurando link interno no kupu" />
    </li>
    <li>
      Após selecionar o item desejado e clicar no botão "ok", o link aparecerá no texto.
    </li>
  </ol>

  <p>
    <strong>Link Externo</strong>: Todo link para uma página da internet é um link externo. Para adicionar um link externo, basta seguir os seguintes passos:
  </p>
  <ol>
    <li>
      Clicar no botão "inserir link externo", na barra de ferramentas do editor.
      <img src="<%= url_imagem("inserir_link_externo_kupu.png")%>" alt="inserir link externo no kupu" />
    </li>
    <li>
      Uma janela aparecerá para que o usuário coloque a página da internet desejada. Caso prefira, o usuário pode pré
      -visualizar a página, clicando no botão "pré-visualização" no alto da página.
      <img src="<%= url_imagem("pre_visualizacao_kupu.png")%>" alt="configurando link externo no kupu" />
    </li>
    <li> Colocado o endereço da pagina, clicar em ok e o link aparecerá no texto. </li>
  </ol>
</div>