<div id="tutoriais">
  <h1> Interface do Editor de Texto </h1>

  <p> O  editor de texto apresenta uma barra de ferramentas simples, como mostrado na figua abaixo: </p>

  <img src="<%= url_imagem("interface_kupu.png")%>" alt="interface do kupu" />

  <p>
    O editor de texto conta com ferramentas como negrito, itálico, alinhamento de texto, inserção de figuras,
    inserção de links, entre outros.
  </p>
</div>