<footer>
    <p>&copy; 2011 <strong>Ministério da Educação</strong>. Todos os direitos reservados. Usando: <span><a href="http://rubyonrails.org/" target="_blank" title="Página oficial do Rails">Rails</a></span></p>
    <a class="topo" href="#">topo da página</a>
</footer>

