<header>
  <div class="barra">
    <div class="barra_governo"></div>
  </div>

  <h1>Biblioteca Digital da EPCT</h1>

  <div class="site_actions">
    <ul>
      <li><%= link_to "Mapa do Site", '#' %></li>
      <li><%= link_to "Acessibilidade", '#' %></li>
      <li><%= link_to "Contato", '#' %></li>
    </ul>
  </div>
</header>
