<ul class="itens" id="navegacao" accesskey="3">
  <p class="texto-acessibilidade">Início da Navegação</p>
  <a href="/"><li id="home"><p>Página Inicial</p></li></a>
  <a href="/buscas"><li id="busca"><p>Busca Avançada</p></li></a>
  <a href="/busca_por_imagem"><li id="busca_imagem"><p>Busca por Imagem</p></li></a>
  <% if current_usuario and can? :adicionar_conteudo, Usuario %>
    <a href="/adicionar_conteudo">
      <li id="adicionar_conteudo"><p>Adicionar Conteúdo</p></li>
    </a>
  <% end %>
  <a href="/ajuda"><li id="ajuda"><p>Ajuda</p></li></a>
  <a href="/sobre"><li id="sobre"><p>Sobre</p></li></a>
  <a href="/noticias"><li id="noticias"><p>Notícias</p></li></a>
  <a href="/estatisticas"><li id="estatisticas"><p>Estatísticas</p></li></a>
  <a href="/editor"><li id="editor_online"><p>Editor online</p></li></a>
  <p class="texto-acessibilidade">Fim da Navegação</p>
</ul>
