<ul class="itens">
  <a href="/"><li id="home"><p>Página Inicial</p></li></a>
  <a href="/busca"><li id="busca"><p>Busca no Acervo</p></li></a>
  <% if current_usuario and can? :adicionar_conteudo, Usuario %>
  <a href="/adicionar_conteudo">
	  <li id="adicionar_conteudo"><p>Adicionar Conteúdo</p></li>
  </a>
  <% end %>
  <a href="/ajuda"><li id="ajuda"><p>Ajuda</p></li></a>
  <a href="/sobre"><li id="sobre"><p>Sobre</p></li></a>
  <a href="/noticias"><li id="noticias"><p>Notícias<p></li></a>
</ul>
