<div class="searchbyarea">
  <p id="title">Busca por Área</p>

  <ul class="areas">
    <%- Area.all.each do |area| %>
      <li><p><%= link_to area.nome, conteudos_por_area_path(area) %></p></li>
      <ul class="subAreas">
      </ul>
    <% end %>
  </ul>
</div>
