<div class="searchbyarea">
  <p id="title">Busca por Área</p>

  <ul class="areas">
    <a href="#"><li><p>Ciências da Saúde</p></li></a>
      <ul class="subAreas">
        <a href="#"><li>Saude Coletiva</li></a>
      </ul>
    <a href="#"><li><p>Ciências Biológicas</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Engenharias</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Ciências Humanas</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Lingüistica, Letras e Artes</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Ciências Exatas e da Terra</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Ciências Sociais Aplicadas</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Outra</p></li></a>
      <ul class="subAreas">
      </ul>
    <a href="#"><li><p>Ciências Agrárias</p></li></a>
      <ul class="subAreas">
      </ul>
  </ul>
</div>
